/* src/App.css */

/* Style the main container */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  /* Style the header */
  h1 {
    color: #333;
  }
  
  /* Style the form for adding tasks */
  .task-form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-right: 35px;
    background-color: #0075f2;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  }
  
  /* Style the input fields and button in the form */
  input[type="text"],
  textarea,
  input[type="date"],
  input[type="time"],
  .centered-select,
  button {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style the task list */
  .task-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Style individual task items */
  .task {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  /* Style task headings */
  .task h3 {
    color: #333;
  }
  
  /* Style task descriptions */
  .task p {
    color: #777;
  }
  
  /* Style the filter dropdown */
  .filter {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style the filter label */
  .filter label {
    font-weight: bold;
  }
  
  /* Style the filter dropdown select */
  .filter select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    
  }
  
  /* Style task images */
  .task img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    padding-bottom: 5px;
  }

  body{
    background-color: #0075f2;
background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  }

  

  

  
  